<div class="panel panel-default col-md-6 forceCenter">
    <div class="panel-body">
        <form name="registrationForm" ng-submit="register()">
            <div class="form-group" ng-class="{'has-error':!registrationForm.fname.$valid&&!registrationForm.fname.$pristine}">
                <input type="text" placeholder="FIRST NAME" class="form-control" name="fname" ng-model="fname" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.lname.$valid&&!registrationForm.lname.$pristine}">
                <input type="text" placeholder="LAST NAME" class="form-control" name="lname" ng-model="lname" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.email.$valid&&!registrationForm.email.$pristine}">
                <input type="email" placeholder="EMAIL" class="form-control" name="email" ng-model="email" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.password.$valid&&!registrationForm.password.$pristine}">
                <input type="password" placeholder="PASSWORD" class="form-control" name="password" ng-model="password" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.password2.$valid&&!registrationForm.password2.$pristine}">
                <input type="password" placeholder="CONFIRM PASSWORD" class="form-control" name="password2" ng-model="password2" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.phone.$valid&&!registrationForm.phone.$pristine}">
                <input type="text" placeholder="PHONE NUMBER(XXX-XXX-XXXX)" class="form-control" name="phone" ng-model="phone" ng-required="1">
            </div>

            <button type="submit" class="btn btn-success">REGISTER</button>
        </form>
    </div>
</div>