<div class="panel panel-default col-md-6 forceCenter">
    <div class="panel-body">
        <form name="registrationForm" ng-submit="register()">
            <div class="form-group" ng-class="{'has-error':!registrationForm.fname.$valid&&!registrationForm.fname.$pristine}">
                <input type="text" placeholder="FIRST NAME" class="form-control" name="fname" ng-model="fname" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.lname.$valid&&!registrationForm.lname.$pristine}">
                <input type="text" placeholder="LAST NAME" class="form-control" name="lname" ng-model="lname" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.username.$valid&&!registrationForm.username.$pristine}">
                <input type="text" placeholder="USERNAME" class="form-control" name="username" ng-model="username" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.password.$valid&&!registrationForm.password.$pristine}">
                <input type="password" placeholder="PASSWORD" class="form-control" name="password" ng-model="password" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.password2.$valid&&!registrationForm.password2.$pristine}">
                <input type="password" placeholder="CONFIRM PASSWORD" class="form-control" name="password2" ng-model="password2" ng-required="1">
            </div>

            <h1>Address</h1>

            <div class="form-group" ng-class="{'has-error':!registrationForm.address.$valid&&!registrationForm.address.$pristine}">
                <input type="text" placeholder="ADDRESS" class="form-control" name="address" ng-model="address" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.unit.$valid&&!registrationForm.unit.$pristine}">
                <input type="text" placeholder="UNIT NUMBER" class="form-control" name="unit" ng-model="unit">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.city.$valid&&!registrationForm.city.$pristine}">
                <input type="text" placeholder="CITY" class="form-control" name="city" ng-model="city" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.state.$valid&&!registrationForm.state.$pristine}">
                <input type="text" placeholder="STATE" class="form-control" name="state" ng-model="state" ng-required="1">
            </div>

            <div class="form-group" ng-class="{'has-error':!registrationForm.zip.$valid&&!registrationForm.zip.$pristine}">
                <input type="text" placeholder="ZIPCODE" class="form-control" name="zip" ng-minlength="5" ng-maxlength="5" ng-pattern=/^\d+$/ ng-model="zip" ng-model="zip" ng-required="1">
            </div>

            <button type="submit" class="btn btn-success">REGISTER</button>
        </form>
    </div>
</div>