<div ng-show="shoppingItems.length">
    <div class="panel panel-default col-md-6">
        <table class="table table-striped">
            <tr>
                <th>Quantity</th>
                <th>Title</th>
                <th>Price</th>
            </tr>

            <tr ng-repeat="item in shoppingItems">
                <td>{{item.itemQTY}}</td>
                <td>{{item.items.itemName}}</td>
                <td>{{item.items.itemPrice | currency}}</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>Total Price: {{total | currency}}</td>
            </tr>
        </table>
    </div>

    <button class="btn btn-lg btn-success pull-right" ng-click="buy()">Buy</button>
</div>

<div ng-show="!shoppingItems.length" class="text-center">
    <h1>Shopping Cart is Empty</h1>
</div>